<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Something Dorky | Dorky Board</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
    </head>
    <body>
        <noscript>
            <style>
                .content {
                    display: none;
                }
                header, footer {
                    opacity: 0.75;
                }
            </style>
            
            <div class="noscript">
                <h1>Javascript is not enabled in your browser</h1>
                <p>This website requires Javascript in order to function</p>
            </div>
        </noscript>

        <div class="ui orange top inverted fixed menu">
            <div class="header item"><i class="comments outline icon"></i>Dorky Board</div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/posts/new">New Post</a>
            <div class="right menu">
                <a class="item" href="https://somethingdorky.com" target="_blank">Something Dorky</a>
            </div>
        </div>